.u-section-1 .u-sheet-1 {
  min-height: 643px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  width: 339px;
  margin: 78px auto 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  margin: 42px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 393px;
  margin: 42px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 218px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 132px;
  height: 133px;
  margin: 11px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 218px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 136px;
  height: 133px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 966px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 889px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1396px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 817px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 19px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 193px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 207px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1186px;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  width: 339px;
  margin: 56px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  margin: 26px auto 0;
}

.u-section-2 .u-list-1 {
  width: 994px;
  margin: 16px auto 60px 65px;
}

.u-section-2 .u-repeater-1 {
  min-height: 1413px;
  grid-template-columns: calc(25% - 36px) calc(25% - 36px) calc(25% - 36px) calc(25% - 36px);
  grid-gap: 48px 48px;
}

.u-section-2 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-2 .u-image-1 {
  height: auto;
  margin: 25px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 39px 13px 0;
}

.u-section-2 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-2 .u-image-2 {
  height: auto;
  margin: 25px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 39px 13px 0;
}

.u-section-2 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-2 .u-image-3 {
  height: auto;
  margin: 25px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 39px 13px 0;
}

.u-section-2 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-2 .u-image-4 {
  height: auto;
  margin: 25px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 39px 13px 0;
}

.u-section-2 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 10px;
}

.u-section-2 .u-image-5 {
  height: auto;
  margin: 25px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 39px 13px 0;
}

.u-section-2 .u-list-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 10px;
}

.u-section-2 .u-image-6 {
  height: auto;
  margin: 25px 0 0;
}

.u-section-2 .u-text-8 {
  margin: 39px 13px 0;
}

.u-section-2 .u-list-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 0 10px;
}

.u-section-2 .u-image-7 {
  height: auto;
  margin: 25px 0 0;
}

.u-section-2 .u-text-9 {
  margin: 39px 13px 0;
}

.u-section-2 .u-list-item-8 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 10px;
}

.u-section-2 .u-image-8 {
  height: auto;
  margin: 25px 0 0;
}

.u-section-2 .u-text-10 {
  margin: 39px 13px 0;
}

.u-section-2 .u-list-item-9 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 0 10px;
}

.u-section-2 .u-image-9 {
  height: auto;
  margin: 25px 0 0;
}

.u-section-2 .u-text-11 {
  margin: 39px 13px 0;
}

.u-section-2 .u-list-item-10 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-10 {
  padding: 0 10px;
}

.u-section-2 .u-image-10 {
  height: auto;
  margin: 25px 0 0;
}

.u-section-2 .u-text-12 {
  margin: 39px 13px 0;
}

.u-section-2 .u-list-item-11 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-11 {
  padding: 0 10px;
}

.u-section-2 .u-image-11 {
  height: auto;
  margin: 25px 0 0;
}

.u-section-2 .u-text-13 {
  margin: 39px 13px 0;
}

.u-section-2 .u-list-item-12 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-12 {
  padding: 0 10px;
}

.u-section-2 .u-image-12 {
  height: auto;
  margin: 25px 0 0;
}

.u-section-2 .u-text-14 {
  margin: 39px 13px 0;
}

.u-section-2 .u-list-item-13 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-13 {
  padding: 0 10px;
}

.u-section-2 .u-image-13 {
  height: auto;
  margin: 25px 0 0;
}

.u-section-2 .u-text-15 {
  margin: 39px 13px 0;
}

.u-section-2 .u-list-item-14 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-14 {
  padding: 0 10px;
}

.u-section-2 .u-image-14 {
  height: auto;
  margin: 25px 0 0;
}

.u-section-2 .u-text-16 {
  margin: 39px 13px 0;
}

.u-section-2 .u-list-item-15 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-15 {
  padding: 0 10px;
}

.u-section-2 .u-image-15 {
  height: auto;
  margin: 25px 0 0;
}

.u-section-2 .u-text-17 {
  margin: 39px 13px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1336px;
  }

  .u-section-2 .u-image-1 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-5 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-6 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-7 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-8 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-9 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-10 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-11 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-12 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-13 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-14 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-15 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 24px) calc(50% - 24px);
    min-height: 4093px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }
}@font-face {
  font-family: 'RosabeliaSLDT';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/RosabeliaSLDT.otf);
}
